<html>
    <head>
        
        {{ partial "header.html" }}
    
    </head>
    <body>
        <div class="container">
    
            {{ partial "brand.html" }}
    
            <div class="content">
    
                {{ partial "navigation.html" . }}
    
                <main>
                    
                    <h1>All posts ... ever</h1>

                    <div class="timeline">
                        
                        {{ range .Pages }}

                        <div class="entry">
                            <h2><a href="{{ .URL }}">{{ .Title }}</a></h2>
                            <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
                            <p class="excerpt">{{ .Summary }}</p>
                        </div>

                        {{ end }}
    
                    </div>
                    
                </main>
                
            </div>
    
            {{ partial "footer.html" }}
    
        </div>
    </body>
    </html>