<html prefix="og: http://ogp.me/ns#">
<head>
    
    {{ partial "header.html" . }}

</head>
<body>
    <div class="container">

        {{ partial "brand.html" }}

        <div class="content">

            {{ partial "navigation.html" . }}

            <main>

                <article>
                    <h1>{{ .Title }}</h1>

                    <p class="info">
                        <i class="fa fa-calendar-o fa-fw" aria-hidden="true"></i> {{ .Date.Format "January 2, 2006" }}
                        <br/>
                        <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> {{ .ReadingTime }} minutes
                    </p>

                    <p class="intro">
                        {{ .Summary | plainify }}
                    </p>

                    {{ $body := replace .Content .Summary "" }}
                    {{ $body | emojify | safeHTML }}

                    {{ if isset .Params "tags" }}
                    <p class="tags">
                        <i class="fa fa-tags fa-fw" aria-hidden="true"></i> &nbsp;
                        {{ range .Params.tags }}
                        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> &nbsp;
                        {{ end }}
                    </p>
                    {{ end }}

                </article>
                
            </main>

        </div>

        <div class="pagination">
            {{ if .Page.Next }}
            <a href="{{ .Page.Next.URL }}" class="button button-prev">&laquo; {{ .Page.Next.Title }}</a>
            {{ else }}
            <span class="button button-prev button-disabled">&laquo; No earlier posts</a></span>
            {{ end }}
            {{ if .Page.Prev }}
                <a href="{{ .Page.Prev.URL }}" class="button button-next">{{ .Page.Prev.Title }} &raquo;</a>
            {{ else }}
            <span class="button button-next button-disabled">No newer posts  &raquo;</a></span>
            {{ end }}
        </div>
        
        {{ if .Page.Params.subscribe }}
            {{ partial "subscribe.html" . }}
        {{ end }}
        
        {{ if .Page.Params.comments }}
            {{ partial "comments.html" . }}
        {{ end }}

        {{ partial "footer.html" }}

    </div>

    <script src="/js/progressive-image.min.js"></script>
    {{ if .Page.Params.comments }} 
    <script async src="https://just-comments.com/w.js"></script>
    {{ if .Site.Params.reCaptcha }}
        <script src='https://www.google.com/recaptcha/api.js?onload=jcOnRecaptchaLoad&render=explicit' async defer></script>
    {{ end }}
    {{ end }}
</body>
</html>