<!-- GA-Lite integration -->
<script>
(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
;c.parentNode.insertBefore(a,c)
})(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

galite('create', '{{ .Site.Params.GA }}', 'auto');
galite('send', 'pageview');
</script>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- About this site -->
<meta name="author" content="Jiri De Jagere">
{{ if .Page.IsPage }}
<title>{{ .Title }}</title>

<!-- For Google --> 
<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{ .Summary }}">

<!-- For Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@JiriDJ">
<meta name="twitter:creator" content="@JiriDJ">

<!-- Open Graph meta tags -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Summary }}" />
{{ if isset .Params "image" }}
<meta property="og:image" content="{{ .Site.BaseURL }}img{{ .Page.URL }}{{ .Params.image }}.full.jpg" />
{{ end }}
{{ else }}
<title>Product musings by Jiri De Jagere</title>

<meta name="title" content="Product musings by Jiri De Jagere">
<meta name="description" content="Product manager at one of the largest privately owned software companies in the US. I’m an expert in product strategy and technology architecture. This blog is a collection of personal experiences and opinions.">
{{ end }}

<script>
  WebFontConfig = {
    google: {
      families: ["Roboto:300,300italic,400,400italic,500"]
    }
  };

  (function(d) {
     var wf = d.createElement('script'), s = d.scripts[0];
     wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
     wf.async = true;
     s.parentNode.insertBefore(wf, s);
  })(document);
</script>

<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/css/styles.css"/>

<!-- Twitter metadata -->
<link rel="me" href="https://twitter.com/jiridj"/>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/img/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
