<!-- Google Analytics integration -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60680954-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ .Site.Params.GA }}');
</script>

<!-- Momently integration -->
<script src="//s3-us-west-2.amazonaws.com/momently-static/loader/hXxUCgAPAQg_momently.js" name="momently-script"></script>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- About this site -->
<meta name="author" content="Jiri De Jagere">
{{ if .Page.IsPage }}
<!-- For Google --> 
<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{ .Summary }}">

<!-- For Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@JiriDJ">
<meta name="twitter:creator" content="@JiriDJ">

<!-- Open Graph meta tags -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Summary }}" />
{{ if isset .Params "image" }}
<meta property="og:image" content="{{ .Site.BaseURL }}img{{ .Page.URL }}{{ .Params.image }}.full.jpg" />
{{ end }}
{{ else }}
<meta name="title" content="Product musings by Jiri De Jagere">
<meta name="description" content="Product manager at one of the largest privately owned software companies in the US. I’m an expert in product strategy and technology architecture. This blog is a collection of personal experiences and opinions.">

<meta name="twitter:site" content="@JiriDJ">
<meta name="twitter:creator" content="@JiriDJ">
{{ end }}

<!-- Stylesheet definitions -->
<link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500" >
<link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
        crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css"/>

<!-- Twitter metadata -->
<link rel="me" href="https://twitter.com/jiridj"/>